<div contents='Live Streaming'>
  <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Created At</th>
            <th>Text</th>
            <th>Keywords</th>
            <th>Extended Text</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let streamdata of streamdatas">
            <td>{{streamdata.data.created_at}}</td>
            <td>{{streamdata.data.text}}</td>
            <td>{{streamdata.keyword}}</td>
            <td>{{streamdata.data?.extended_tweet?.full_text}}</td>
          </tr>
      </table>
    </div>
