<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1>Real Time Analytics</h1>
<div class="container">
    <div ngui-tab>
      <div class='tabs'>
          <div index='Live Streaming'>Live Streaming</div>
          <div index='Important'>Important</div>
          <div index='Sentiments'>Sentiments</div>
          <div index='Market Analysis'>Market Analysis</div>
          <div index='Prediction'>Prediction</div>
      </div>
      <div class='tabs-contents'>
          <app-realtime-tweeter></app-realtime-tweeter>
          <div contents='Important'>Important</div>
          <div contents='Sentiments'>Sentiments</div>
          <div contents='Market Analysis'>Market Analysis</div>
          <div contents='Prediction'>Prediction</div>
      </div>
  </div>
</div>
